body 
{
 width: 90%;
 margin: 10px;
 background-color: white;
 color: black;
 border: 1px solid black;
}
.FirstPageImageFormatting
{
    width:30%;
    height: 30%;
    float: left;
    border: 2px solid lightgray;
    margin-left: auto;
}
.SecondPageImageFormatting
{
    width:70%;
    border: 2px solid lightgray;
    margin-left: auto;
}
header
{
    background-color: white;
}

h1
{
    color: red;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

h2 
{
    color:red;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

footer
{
    padding: 10px;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: gray;
    color:white;
}

nav
{
    background-color: gray;
    padding: 10px;
}

nav ul 
{
    text-align: center;
    font-size: 1.2em;
}
nav ul li 
{
    list-style-type: none;
    background-color: lightgray;
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border: 2px solid lightcoral;
    border-radius: 10px;
}

.mainparagraph
{
    text-align: center;
    margin: 10px;
    padding-right: 30px;
    padding-left: 60px;
}
.columns {
    display: flex; 
    justify-content: space-between; 
}

.column {
    text-align: center;
    flex: 1; 
    margin: 0 10px; 
}
.container {
    background-image: url('../Images/background.jpg');
    background-size: cover; 
    background-position: center; 
    color: white; 
    padding: 20px; 
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}footer nav ul li.current a {
    font-weight: bold;
}
table {
    color: darkgray;
    border-collapse: separate;
    border-spacing: 10px; 
}

th, td {
    padding: 10px; 
}
.required {
    color: red;
    margin-left: 5px;
}
ul {
    list-style-type: circle; 
}
.numbered-list {
    list-style-type: decimal;
}